* {
  padding: 0px;
  margin: 0px;
}

.wreper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40px, auto);
}
.wreper > div {
  padding: 1em;
}

#nav {
  display: flex;
  background: #333;
  grid-column: 1/4;
  text-align: center;
}

#content {
  background: #333;
  color: rgb(214, 213, 213);
  text-align: center;
}

#footer {
  background: #333;
  grid-column: 1/4;
  text-align: center;
}

/*кнопка*/
a {
  position: relative;
  display: inline-block;
  padding: 15px 30px /*80px*/;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

a:hover {
  color: #949494;
  background: #777777;
  box-shadow: 0 0 10px #777777, 0 0 40px #777777, 0 0 80px #777777;
  transition-delay: 1s;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #777777);
}

a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #777777);
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #777777);
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #777777);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


body {
  position: relative;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  align-items: center;
}

#status {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-75%);
  min-width: 400px;
  margin: 0;
  text-align: center;
}

#statuss {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-135%);
  min-width: 400px;
  margin: 250px;
  text-align: center;
}

.dice {
  width: 32px;
  float: left;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 24px;
  text-align: left;
  margin: 5px;
  border-radius: 5px;
}

.dice-roll {
  cursor: pointer;
  text-transform: capitalize;
}